node_modules
/docs

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
!*.tfvars.example
crash.log
crash.*.log

/PASSO_A_PASSO.md
/DOCKER_FLUXO.md
/DOCKER_GUIDE.md
/DOCKER_NECESSIDADE.md
/DOCKER_SIMPLIFICADO.md
/PRISMA_DOCKER_PRATICO.md
/PRISMA_DOCKER.md
/README_DOCKER.md
